<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Universitas Bosowa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                    <a class="nav-link {% if page_active=='home' %} active {% endif %}" aria-current="page"
                        href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_active=='mahasiswa' %} active {% endif %}"
                        href="/mahasiswa">mahasiswa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_active=='jurusan' %} active {% endif %}"
                        href="/jurusan">jurusan</a>
                </li>
                <li class="nav-item">
                    {% if 'user' in session %}
                    <a class="nav-link {% if page_active=='login' %} active {% endif %}" href="/logout">Logout</a>
                    {% else %}
                    <a class="nav-link {% if page_active=='login' %} active {% endif %}" href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>