{% extends 'base.html' %}
{% set title = 'edit mahasiswa' %}
{% set page_active ='mahasiswa' %}

{% block _content %}
<div class="row mt-5">
    <div class="col-12">
        <h1>Edit Mahasiswa</h1>
        <a href="/mahasiswa" class="btn btn-primary">kembali</a>
    </div>
    <div class="col-12">
        <form action="" method="POST" encytipe='multipart/form-data'>
            <div class="mb-3">
                <label for="nama_lengkap" class="form-label">Nama lengkap</label>
                <input type="text" class="form-control" id="nama_lengkap" name="nama_lengkap"
                    placeholder="Masukkan Nama Lengkap" required value="{{ data.nama_lengkap }}">
            </div>
            <div class="mb-3">
                <label for="Nim" class="form-label">Nim</label>
                <input type="text" class="form-control" id="nim" name="nim" placeholder="Masukkan Nim anda" required value="{{ data.nim}}">
            </div>
            <div class="mb-3">
                <label for="jurusan" class="form-label">Jurusan</label>
                <select class="form-select" id="jurusan" name="jurusan" aria-label="Default select example" required>
                    <option selected="Pilih salah satu"></option>
                    <option value="Manajemen"{% if data.jurusan == 'Manajemen' %} selected {% endif %}>Manajemen</option>
                    <option value="Teknik Elektronika"{% if data.jurusan == 'Teknik Elektronika' %} selected {% endif %}>Teknik Elektronika</option>
                    <option value="Teknik Informatika"{% if data.jurusan == 'Teknik Informatika' %} selected {% endif %}>Teknik informatika</option>
                </select>
                <div class="mb-3">
                    <label for="tanggal_lahir" class="form-label">tanggal_lahir</label>
                    <input type="date" class="form-control" id="tanggal_lahir" name="tanggal_lahir"
                        placeholder="Masukkan Tanggal lahir anda" required>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="jurusan" name="status" aria-label="Default select example" required>
                        <option selected="Pilih salah satu"></option>
                        <option value="Aktif"{% if data.status == 'Aktif' %} selected {% endif %}>Aktif</option>
                        <option value="Tidak_aktif"{% if data.status == 'Tidal_aktif' %} selected {% endif %}>Tidak_aktif</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="jenis_kelamin" class="form-label">Jenis_kelamin</label>
                    <select class="form-select" id="jenis_kelamin" name="jenis_kelamin"
                        aria-label="Default select example" required>
                        <option selected="Pilih salah satu"></option>
                        <option value="perempuan" {% if data.jenis_kelamin == 'perempuan' %} selected {% endif %}>perempuan</option>
                        <option value="laki-laki"{% if data.jenis_kelamin == 'laki-laki' %} selected {% endif %}>laki-laki</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>
{% endblock %}